

.flex{
  display: flex;
  flex-wrap: wrap;
  
}

.sh{
  background:linear-gradient(40deg,#61dafb,rgb(116, 236, 116));
  /* background: #61dafb; */
  justify-content: space-between;
  padding: 10px 30px;
  font-family: sans-serif;
  font-size: calc(10px + 2vmin);
  margin-bottom: 30px;
}
.img{
  padding-left: 80px;
  /* padding-right: 30px; */
  width:350px;
  height: 350px;
  padding-top: 30px;

}
.product-image{
  /* padding-top: -100px; */
  text-align: center;
  line-height: 60%;
  
}
.fotter{
  padding-top: 10px;
  background: #282c34;
  color: white;
  margin-top: 30px;
  text-align: center;
  padding-bottom: 30px;
  line-height: 30px;

}
.fotter-flex{
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.logoname{
  color: gold;
  background: white;
  padding: 10px;
  border: 6px double black;
}
.cartcount{
  padding: 2px;
  background: rgb(44, 230, 190);
  border: 1px dotted lightgray;
  border-radius: 10px;
  box-shadow: 1px 1px white;
}
.carditem{
  min-height: 60vh;
}
.headerh{
  margin-top: 15px;
}
